/* common.css */

@font-face{
	font-family:'Noto Sans Black';
	font-style: normal;
  	font-weight: 900;
	src : local('Noto Sans Black');
	src : url('../font/NotoSansKR-Black.woff2') format('woff2');
	src : url('../font/NotoSansKR-Black.woff') format('woff');
}

@font-face{
	font-family:'Noto Sans Bold';
	font-style: normal;
   font-weight: 700;
   src : local('Noto Sans Bold');
	src : url('../font/NotoSansKR-Bold.woff2') format('woff2');
	src : url('../font/NotoSansKR-Bold.woff') format('woff');
}
@font-face{
	font-family:'Noto Sans DemiLight';
	font-style:normal;
	src:local('Noto Sans DemiLight');
	src:url('../font/NotoSans-DemiLight.woff') format('woff');
}
@font-face{
	font-family:'Noto Sans Light';
	font-weight: 300;
  src : local('Noto Sans Light');
	src : url('../font/NotoSansKR-Light.woff2') format('woff2');
	src : url('../font/NotoSansKR-Light.woff') format('woff');
}
@font-face{
	font-family:'Noto Sans Thin';
	font-style: normal;
  font-weight: 100;
  src : local('Noto Sans Thin');
	src : url('../font/NotoSansKR-Thin.woff2') format('woff2');
	src : url('../font/NotoSansKR-Thin.woff') format('woff');
}
@font-face{
	font-family:'Noto Sans Medium';
	font-style: normal;
   font-weight: 500;
   src : local('Noto Sans Medium');
	src : url('../font/NotoSansKR-Medium.woff2') format('woff2');
	src : url('../font/NotoSansKR-Medium.woff') format('woff');
}
@font-face{
	font-family:'Noto Sans Regular';
	font-style:normal;
	font-weight: 400;
	src : local('Noto Sans Regular');
	src : url('../font/NotoSansKR-Regular.woff2') format('woff2');
	src : url('../font/NotoSansKR-Regular.woff') format('woff');
	/*
   src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),
        */
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Noto Sans Thin';
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}