.title_span{
	letter-spacing:0.12em; 
	line-height:0.072em;
}
.title_span02{
	letter-spacing:0.1em; 
}
.font01{
	font-family: 'Noto Sans Black';
	font-size:18pt;
	line-height:0.027em;
}
.font02{
	font-family: 'Noto Sans Bold';
	font-size:18pt;
	line-height:0.027em;
}
.font03{
	font-family: 'Noto Sans Medium';
	font-size:16pt;
	line-height:0.03em;
}
.font04{
	font-size:14pt;
}
.font05{
	font-size:14pt;
	text-decoration:underline;
}
.font06{
	font-size:14pt;
	line-height:0.024em;
}
.font07{
	font-size:22pt;
	text-decoration:underline;
}

.footer_font1 {
	font-family: 'Noto Sans Regular';
	font-size : 14pt;
}

.footer_font2 {
	font-family: 'Noto Sans Regular';
	font-size : 14pt;
	line-height : 24pt;
}
li{
	position:relative;
}
/* .mouse_over1:hover{ */
/* 	color:#ff3333; */
/* } */
/* .mouse_over2:hover{ */
/* 	color:#0099ff; */
/* } */
.mouse_over1, .mouse_over2{
	font-weight:bold;
	cursor:pointer;
}
.list_li{
	margin-bottom:17px;
}
.direction_div{
	font-size:60pt; 
	font-weight:bold; 
	margin-top:199px; 
	text-align:center
}
.graduates_div{
	font-size:60pt; 
	font-weight:bold; 
	margin-left:25%;
	margin-top:117px;
}
.portfolio_div{
	font-size:60pt; 
	font-weight:bold; 
	margin-top:252px; 
	margin-left:25%;
}
.tel_div{
	position:relative;
	font-size:50pt;
	font-weight:bold; 
	margin-top:189px; 
	text-align:center; 
	margin-bottom:230px;
}
.portfolio_img_div{
	float:left; 
	margin-left:25%;
	 width:25.78%; 
	 background-color:gray; 
	 display:inline-block; 
	 height:100%
}
.portfolio_list_div{
	margin-top:85px; 
	width:100%; 
	margin-bottom:158px; 
	height:495px;
}
.direction_div02{
	width: 100%; 
	height:493px; 
	margin-top:105px; 
	padding-bottom:238px;
}
#map-canvas{
	width:46.5%; 
	height: 100%;  
	display:inline-block; 
	float:left; 
}
.graduates_div2{
	margin-left:25%; 
	margin-top:91px;
	height:825px;
}
.person_ul{
	list-style:none;
	 padding:0; 
	 margin:0px; 
	 display:inline-block;
	 float:left;
}
.person_ul2{
	list-style:none; 
	padding:0; 
	margin-top:0px; 
	margin-left:13%; 
	display:inline-block; 
	float:left;
}
.person_img{
	width:18.9%; 
	margin-left:8%; 
	height:556px; 
	display:inline-block; 
	background-color:gray;
}