/* main.css*/
.body{
	width: 1774px;
	margin-left: auto; 
	margin-right: auto;
}
.aside-title{
	position:absolute;
	display: inline-block;
	margin-right: 2.5%;
}
.title-content1{
	top:72px;
	margin-left: 13.7%;
	height: 198px;
}
.left_title_img{
	display: block;
	margin-bottom: 18px;
	margin-top:33px;
}
.left_title_img_sub{
	display: block;
}
.text-center1{
	float: left;
	width: 23%;
}
.text-center2{
	float: left;
	text-align:center;
	width: 50%;
}
.text-center3{
	float: left;
	width: 27%;
}
.right-date{
	float: right;
	margin-top: 72px;
}
.right-opening{
	left: 50%;
	margin-top: 72px;
}
.small-span{
	float: left;
	margin-top: 72px;
}
.total{
	display:inline-block;
	position: relative;
}
.main{
	display:inline-block;
	position: relative;
	width:1366px;
}
.main2{
	display:inline-block;
	position: absolute;
	min-width: 1920px;
	margin-left: auto; 
	margin-right: auto;
}
.main-center-content{
	width: 1366px;
	height: 768px;
	display: inline-block;
	padding-bottom: 15px;
	padding-left: 13.7%;
}
.right-header{
    float: right;
	text-align: right;
	position: relative;
	z-index: 2000;
	margin-right: 13.7%;
	margin-top:33px; 
}
.right-menu{
	list-style: none;
	text-decoration: underline;
}
.right-menu li{
    margin-bottom: 14px;
}
.video-content{
	position:absolute;
	width: inherit;
}
.header-section {
	position: absolute;
	width: 100%;
	top:0%;
}
.header-video{
	position: absolute;
	width: 1366px;
}
.header-container{
	position: relative;
	top: 320px;
	width: 1366px;
	text-align: center;
}
.text-main-title{
	display: inline-block;
}

.round-about-img{
	padding-top:145px;
	float: left;
	width:50%;
}
.title_illustrate{
	float: right;
	padding-right: 20%;
}
.round-about-text{
	padding-top:151px;
	float: left;
	width:50%;
}
.univer-text{
	font-size: 16pt;
	line-height:24pt;
	font-family:'Noto Sans Medium';
	font-weight: 500;
}
.Professor-text{
	font-family:'Noto Sans Regular';
	font-weight: 400;
	margin-top :78px;
	font-size: 16pt;
	line-height:27pt;
}
.round-about-title{
	margin-top: 10px;
    margin-bottom: 44px;
    font-family:'Noto Sans Bold';
    font-weight: 700;
    font-size: 12pt;
}
.text-content{
	margin-top: 155px;
	padding-bottom: 217px;
	display: inline-block;
	width: 100%;
}
.round-about-poster{
	float: left;
	width: 50%;
}
.round-about-poster-text{
	float: left;
	width: 50%;
	height: 650px;
	position: relative;
}
.round-about-png2{
	height: 650px;
	padding-right:6.3%;
	float: right;
	width: 469px;
}
.poster-text{
	font-family:'Noto Sans Regular';
	font-size: 12pt;
	line-height:27px;
	font-weight: 400;
}
.tree_div{
	padding-left: 64.5%;
	padding-bottom: 76px;
	position: absolute;
	bottom: 0;
}